---
layout: page
title: Home
excerpt: "personal tech / dev blog - read about me, my software and the many technologies I use."
---
{% for post in paginator.posts %}
  <article>
  	<header>
		<time datetime="{{post.date | date: "%Y-%m-%d"}}" title="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%d.%m.%Y"}}</time>					
		<h1><span><a href="{{post.url}}" title="Read more about '{{ post.title }}'">{{ post.title }}</a></span></h1>
	</header>	
	{{ post.excerpt | markdownify }}	
	<p class="text-right"><em><a href="{{ post.url }}" title="Read more about '{{ post.title }}'">Read more &hellip;</a></em></p>
	<footer>			
		{% include widgets/postCategoryList.html %}
		{% include widgets/postTagList.html %}		
	</footer>	
	</article>
{% endfor %}

<ul class="pager">
{% if paginator.previous_page %}
	<li class="previous">
		{% if paginator.previous_page == 1 %}<a href="/">&larr; Newer</a>
		{% else %}<a href="{{ paginator.previous_page_path }}">&larr;</a>{% endif %}
	</li>
{% else %}
	<li class="previous disabled"><span>&larr; Newer</span></li>
{% endif %}

<li><a href="archives.html"> — Archives — </a></li>

{% if paginator.next_page %}
	<li class="next"><a href="{{ paginator.next_page_path }}">Older &rarr;</a></li>
{% else %}
	<li class="next disabled"><span>Older &rarr;</span></li>
{% endif %}
</ul>

