---
layout: bone
excerpt: "Über Sebastian Teumert, meine Software, Interessen und Kontaktinformationen sowie Informationen über meinen Blog"
---
{% if page.lang %}
	{% assign lang = page.lang %}	
{% else %}
	{% assign lang = site.lang.default %}
{% endif %}	
<section id="content">
	<header>
		<nav>
			<ol class="breadcrumbs">
				<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="index{% if lang != site.lang.default %}.{{ lang }}{% endif %}.html" rel="index up up" itemprop="url"><span itemprop="title">Sebastian Teumert</span></a>
				</li>				
			</ol>		
		</nav>
		{% include nav.html %}		
		<h1>{{ page.title }}</h1>
		<p> {{ page.subtitle }} </p>
	</header>
	
	{{ content }}
	
</section>
