---
layout: page
---
{% capture pager %}
<ul class="pager">
	{% if page.next %}
		<li class="previous"><a href="{{ page.next.url }}">&larr; {{ page.next.title }}</a></li>
	{% else %}
		<li class="previous disabled"><span>&larr; Newer</span></li>
	{% endif %}
	
	<li><a href="categories.html"> — Categories — </a></li>
	
	{% if page.previous %}
		<li class="next">
			<a href="{{ page.previous.url }}">{{ page.previous.title }} &rarr;</a>
		</li>
	{% else %}
		<li class="next disabled"><span>Newer &rarr;</span></li>
	{% endif %}	
</ul>
{% endcapture %}

{{ pager }}

<article class="link-awesome">
	<header>
		<time datetime="{{page.date | date: "%Y-%m-%d"}}" title="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%d.%m.%Y"}}</time>					
		<h1>{{ page.title }}</h1>		
	</header>	
	{{ content }}
	{% if page.tags != nil && page.category != nil %}
	<p class="text-right"><em>Sebastian Teumert</em></p>
	<footer>
		{% assign post = page % %}
		{% include widgets/postCategoryList.html %}
		{% include widgets/postTagList.html %}	
	</footer>
	{% endif %}
</article>

{{ pager }}
