<!DOCTYPE html>
{% if page.lang %}{% assign lang = page.lang %}{% else %}{% assign lang = site.lang.default %}{% endif %}
<html lang="{{lang}}">
<head>	
	<meta charset="utf-8" />
	
	<!-- Meta Information -->
	<title>{% if page.heading %}{{ page.heading }} &ndash; {% endif %}{{ page.title }}</title>
	<meta name="description" content="{% if page.description %} {{ page.description | strip_html }}{% elsif page.excerpt %}{{ page.excerpt | strip_html }}{% endif %}" />
	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}" />
	{% endif %}
	<meta name="author" content="{% if page.author %} {{ page.author.name }} {% else %} {{ site.author.name }} {% endif %} " />	
	
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="favicon.png" />
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />		

	{% if site.url %}
	<!-- Base url -->
	<base href="{{ site.url }}" />
	{% endif %}
	
	<!-- Robots -->
	{% if page.robots %}<meta name="robots" content="{{ page.robots }}">{% else %}<meta name="robots" content="all">{% endif %}
	<meta name="google" content="notranslate">
	
	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi" />	

	<!-- Apple Touch Icons --><!--
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/icons/apple-touch-icon-57.png" />-->

	<!-- feed -->
	<link rel="feed alternate" type="application/atom+xml" href="/atom.xml" title="Atom Feed">

	<!-- Stylesheets -->	
	<link rel="stylesheet" href="assets/css/teumert.net.css" />

	<!-- HTML5 shiv, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/html5-printshiv.js"></script>
	<![endif]-->
	
	<!-- IE Mobile clearfix -->
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->	
</head>
<body>	

<header id="header">
	<h1><a href="/index.{% if lang != site.lang.default %}{{ lang }}.{% endif %}html">{{ site.lang[lang].title }}</a></h1>
	{% if site.lang[lang].description %}<p>{{ site.lang[lang].description }}</p>{% endif %}
	<nav>
		<ul class="nav">
			<li id="dropdown">&#x25bc; Navigation</li>
			<li><a href="index{% if lang != site.lang.default %}.{{ lang }}{% endif %}.html">{{ site.lang[page.lang].nav.start }}</a></li>
			<li><a href="about{% if lang != site.lang.default %}.{{ lang }}{% endif %}.html">{{ site.lang[page.lang].nav.about }}</a></li>
			<li><a href="software{% if lang != site.lang.default %}.{{ lang }}{% endif %}.html">{{ site.lang[page.lang].nav.software }}</a></li>
			<li><a href="blog{% if lang != site.lang.default %}.{{ lang }}{% endif %}.html">{{ site.lang[page.lang].nav.blog }}</a></li>		
			{% for alt in page.alt %}
				<li><a href="{{ page.url | split : '.' | first }}{% if alt != site.lang.default %}.{{alt}}{% endif %}.html">{{ site.lang[alt].lang }}</a></li>
			{% endfor %}		
		</ul>
	</nav>
</header>
		
{{ content }}
			
<footer id="footer">
	&copy; 2012 &ndash; 2013 <a href="http://teumert.net/impressum.html">Sebastian Teumert</a>
	&ndash; crafted with <a href="http://jekyllrb.com">Jekyll</a>,
	hosted on <a href="http://pages.github.com">GitHub Pages</a>.
</footer>	
	
</body>
</html>
