---
layout: page
---
<p>The <em>"Notes to self"</em> series of blog articles is a series of brief facts, tricks
 and code snippets that i have found useful and memorable and don't want to forget.</p>
<article class="box">
	<header>
		<time datetime="{{page.date | date: "%Y-%m-%d"}}" title="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%d.%m.%Y"}}</time>					
		<h1><span>{{ page.title }}</span></h1>	
	</header>
	<p>{{ page.excerpt | markdownify }}</p>
	<a id="more"></a>
	{{ content }}
	<footer>
		{% assign post = page % %}
		{% include widgets/postCategoryList.html %}
		{% include widgets/postTagList.html %}	
	</footer>
</article>